body{
  margin:0;
  padding:0;
  font-family: sans-serif;
  background:#f4f4f4
}

ul{
  display:flex;
  margin:10px 0;
  justify-content: space-around;
}
ul li{
  list-style-type:  none;
  margin: 10px 10px;
  cursor: pointer;
}
ul li a{
  font-size: 20px;
  text-transform: capitalize;
  font-weight: bold;
  color:#000;
}
.logo{
  font-size: 50px;
  font-weight: bold;
  font-style:italic ;
  color:rgb(0, 78, 0)
}
.logo small{
  color:rgb(158, 158, 6);
  font-size: 30px;  font-weight: bold;
}
.content{
  margin: 2em  0 ;
  display:flex;
  justify-content: center;
  align-items: center;
}
label{
  font-weight:bold;
}
form{
  background:#fff;
  padding: 2em 0 0 0;
}
.reciept{
  height: 100vh

}